.footer {
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-top: 1px solid rgba(0, 92, 102, 0.1);
  margin-top: 60px;
}

.footer-texto {
  font-family: "Geist", sans-serif;
  font-size: 0.85rem;
  color:grey;
  margin: 0;
  opacity: 0.8;
}

